@import "./3rd-party/";


@import "./base/reset.css";


@import "./components/buttons.css";

@import "./components/layouts.css";

@import "./components/links.css";

@import "./components/text.css";

@import "./3rd-party/font-awesome.min.css";



/*header*/

.top-container {
    padding: 0px;
    background-color: grey;
    text-align: center;
}

.header {
    padding: 0px;
    background: rgb(110, 12, 12);
    color: grey;
}

.content {
    padding: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 10px;
}